#thisIsADemoReturnHome{
    height: 250px;
}
i.f6.i{
    font-size: 20pt;
}
#thisIsADemoReturnHomeLogoCase{
    letter-spacing: -2.22px;
    display: inline-block;
    margin: 0 .5em 0 .18em;
}
.chevron.tW.my-0{
    transition: .456s;
}
a.tW.outlined.mt-4{
    border-color: rgb(22, 22, 22);
    transition: .456s;
}