form#emailer.modal-form.emailer(method='POST' action='send' enctype ='multipart/form-data')
    label(for="name").w1 Name:
    input#name.form-input.name(type='text', placeholder='Name' name='name' value="" required='true').w1
    label(for="address").w1 Email address:
    input#address.form-input.address(type='text', placeholder='name@address.com' name='address' value="" required='true').w1
    label(for="subject").w1 Subject:
    input#subject.form-input.subject(type='text', placeholder='Re:' name='subject' value="" required='true').w1
    label(for="message").w1 Comment:
    textarea#message.form-input.message(type='text', placeholder=' ...' name='message' value="" required='true').w1
    button.btn.submit-btn(type='submit' value='submit').w1.caps Submit
