nav#navBar.nav.nav-down.bB.container-fluid.w1.p-0.pe-1.pe-md-0.m-0.sC.sideScroll
  div.row.h100
    div.container-fluid.col-12.sC.h100
      article(style='flex-wrap: nowrap;').row.textAlignCenter.level1.h100.flex.sideScroll
        div.col-12.h100
          ul(style='flex-wrap: nowrap;').nav.level1.h100.w1.p-0.m-0
            li.nav-item.tW.lH1.w1.h100.sC.textAlignCenter
              a(href='/solution').nav-link.p-0.m-0.tW.navLink.h100.w1.lH1.sC.f4.mM.caps.px-2.textAlignCenter Solution
            li.nav-item.tW.lH1.w1.h100.sC.textAlignCenter
              a(href='/news').nav-link.p-0.m-0.tW.navLink.h100.w1.lH1.sC.f4.mM.caps.px-2.textAlignCenter News
            li.nav-item.tW.lH1.w1.h100.sC.textAlignCenter
              a(href='#contact').nav-link.p-0.m-0.tW.navLink.h100.w1.lH1.sC.f4.mM.caps.px-2.textAlignCenter Contact