extends layout
block content
    include nav
    section
        div.compositor
            div.sHjr.w1.mega.strictX
                img(src='/images/happy1920x1440.png').peopleBG.fB
            section.container.sC.pt-5.shear575px
                article.row.py-5
                    item.col-9.col-sm-6.col-md-5.col-xl-4.tW
                        div.beam.py-3.mS.sM575px 
                            h2.caps.bM Kai Lavatai,      
                                span.f6.i.clearCaps Principal
                            p.initial With twenty years professional design experience and ten years in web development and publishing, Kai is focused on emphasizing the attractiveness of his clients, graphically placing their identities front and center both online and in print.  
                        p.outlined.mt-3.borderColorWhite.mS.sM575px Kai formed SCXN Web Design and Publishing in February 2022 to ensure unique brand solutions are furnished to special endeavors.
                    margin.col-3.col-sm-6.col-md-7.col-xl-8 
    include footer
    script(src='/javascripts/scrollax_plus.js')