      article#philosophy.row.pB5
        margin.col-md-1
        post.col-md-10
          h2.beam.pT3.pB3 Philosphy:
          h6 Wed, Jul 27, 2022
          h1.lH1 Fun Words
          h4.lH1 Tapping the rich, cost-free well of words
          h5.sM.i.b by Kai Lavatai
          h3.t600.i.lH1 Don't go out and buy a thesaurus.
        margin.col-md-1
        margin.col-md-1
        post.col-md-7
          p.initial Words will not make you sound smarter as much as they will make you seem funner, truer and more real.  Words describe our world.  They define it.  It could be thought of like this:  The greater the variety of words, the higher life's resoltuion.  Words don't need to be big or fancy but they need to cut straight through the bullshit.
        gutter.col-md-3
        margin.col-md-1
        margin.col-md-1
        item.sC.col-md-5
          img(alt='Image supporting the article' src='https://images.unsplash.com/photo-1529339017023-c2f2ce633d0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80').fB.bullNosed
        gutter.col-md-5
        margin.col-md-1
        margin.col-md-1
        gutter.col-md-7
        div.col-md-3.pt-3.pt-md-0
          p.monolith.initialR.textAlignRight If you need to use more of them in a single sentence, use more of them, but a brief ideally crafted knuckle sandwich will suffice.
        margin.col-md-1
        margin.col-md-1
        div.col-md-5
          p.initial.reflection.bullNosed Word salad can be an attraction. We can draw with words rather than write with them.  It isn't necessary to mean something linguistically to hold meaning visually.
        gutter.col-md-5
        margin.col-md-1
        margin.col-md-1