extends layout
block content
    include nav
    section
        div.compositor
            div.sHjr.w1.mega.strictX
                img(src='/images/print.jpg').peopleBG.fB
            section.container-fluid.w1.maxed.flex.flexCol.flexJustifyCenter.flexAlignStart.shear575px
                article.row
                    item.col-12.tW.sH.flex.flexCol.flexJustifyCenter.flexAlignStart
                        div.tB.beam.py-2
                            include logo
                            h6.dwarf.i.f6 /Print
                            h1.caps.cray Unu&shy;sual
                article.row.py-5
                    margin.col-3.col-sm-6.col-md-7.col-xl-8 
                    item.col-9.col-sm-6.col-md-5.col-xl-4.tB
                        div.outlined.py-3.wB.sM575px
                            p.initial Something printed, in-hand is a very unusual luxury today—In an era marred with blinding screens, a real treasure to behold indeed.
    div.container-fluid.sH.p-0.m-0.w1.flex.flexJustifyCenter.py-0.my-0.bB.sBS
        article.row.w1.maxed.py-5.wB.flex.flexCol.flexAlignCenter
            h1.col-12.pt-5.textAlignCenter.f6.i.cray It's unu&shy;sual
            margin.col-1
            h6.col-10.diminutive.textAlignRight.reverseBased.pb-5.pt-1.caps Curated Oct '22
            margin.col-1
            item.col-12.px-0.row
                <!--Print 01-->
                div.col-6.flex.flexCol.flexAlignEnd.flexJustifyCenter
                    img(src='/images/print01.png').w4.clear.m-0.p-0
                div.col-6.flex.flexCol.flexAlignStart.flexJustifyCenter
                    p.m-0.p-0.lH2.w4 Printed media people want to hold onto.
                <!--Print 02-->
                margin.col-12.py-5
                div.col-6.flex.flexCol.flexAlignEnd.flexJustifyCenter.textAlignRight
                    p.m-0.p-0.lH2.w4 Luxurious business cards that feel good in the hand.
                div.col-6.flex.flexCol.flexAlignStart.flexJustifyCenter
                    img(src='/images/print02.png').w4.clear.m-0.p-0
                <!--Print 03-->
                margin.col-12.py-5
                div.col-6.flex.flexCol.flexAlignEnd.flexJustifyCenter
                    img(src='/images/print03.png').w4.clear.m-0.p-0
                div.col-6.flex.flexCol.flexAlignStart.flexJustifyCenter
                    p.m-0.p-0.lH2.w4 In-house production techniques seldom in practice today.
                <!--Print 04-->
                margin.col-12.py-5
                div.col-6.flex.flexCol.flexAlignEnd.flexJustifyCenter.textAlignRight
                    p.m-0.p-0.lH2.w4 Build a fully custom marketing kit.
                div.col-6.flex.flexCol.flexAlignStart.flexJustifyCenter
                    img(src='/images/print04.png').w4.clear.m-0.p-0
                <!--Print 05-->
                margin.col-12.py-5
                div.col-6.flex.flexCol.flexAlignEnd.flexJustifyCenter
                    img(src='/images/print05.png').w4.clear.m-0.p-0
                div.col-6.flex.flexCol.flexAlignStart.flexJustifyCenter
                    p.m-0.p-0.lH2.w4 Brochures that finally reflect your uncom&shy;primising dedication to quality.
                <!--Print 06-->
                margin.col-12.py-5
                div.col-6.flex.flexCol.flexAlignEnd.flexJustifyCenter.textAlignRight
                    p.m-0.p-0.lH2.w4 Be remembered.
                div.col-6.flex.flexCol.flexAlignStart.flexJustifyCenter
                    img(src='/images/print06.png').w4.clear.m-0.p-0
                margin.col-12.py-5
                margin.col-12.my-5.mx-0.px-0
            item.flexRow.row.col-12.px-3
                h2.col-12.caps.exJr.textAlignCenter.cray.pt-5.pb-4.w3 Cat&shy;alog
                item.col-12.col-sm-6.redLined.textAlignCenter
                    h2.mM.based.w3 Product
                    p.lH2.dwarf.px-3 Blotter  |  Business Card  |  Letter Brochure  |  Poster  |  Memo Brochure  |  Flier  |  Rack Card  |  Postcard  |  Pamphlet  |  Calling Card  |  Custom
                item.col-12.col-sm-6.textAlignCenter
                    h2.mM.based.w3 Service
                    ul.sexy.lH2.dwarf.px-3
                        li Typsetting 
                        li Raster & Vector Graphics 
                        li 3-D Graphics 
                        li Ghostwriting 
                        li Editing
                        li Artwork
                        li Concept
                margin.d-none.d-sm-block.col-sm-3 
                item.col-12.col-sm-6.pt-4 
                    p.dwarf Blotter is a brochure formatted like a pocket-sized notepad | Brochure available in full-page (Letter) and half-page (Memo) formats. Pair perfectly alternating formats to visually denote variable specific and general brochures | Pamphlet comes tri or bifold | Calling Card is an alternate-weight business card.
                margin.d-none.d-sm-block.col-sm-3 
            margin.col-12.py-5
            margin.col-12.my-5.mx-0.px-0
    include footer
    script(src='/javascripts/scrollax_plus.js')