extends layoutMessage
block content
    cover.cover.sH.sC
        a#cover.dropAnchor
        section.container-fluid
            article.pT6.pB6.row
                margin.d-none.d-sm-block.col-md-1
                menu.sC.col-sm-5.redLined
                    h1.w1.textAlignCenter Thank you!
                    h2.exJr.b.diminutive.caps.b.lH1.w1.textAlignCenter=sub 
                    p.w3.pT1.initial Your comment has been forwarded to 
                        a(href='/') our Flagship Office
                        |.  Please allow for up to 72 hrs for a response if one has been requested.  Continued thanks.
                    small.w1.flex.flexCol.flexAlignStart.pt-5
                        a(href='/').tB.w1 ← Return home
                logo.d-none.d-sm-none.d-md-flex.sC.p-0.p-lg-4.p-xl-5.col-sm-5
                    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/WxMRMdrDEPRcfzpsolIIkFjR').sC.h100.headerLogo
                margin.col-md-1