footer.ultimate.lineH.g-0.p-0.w1.bB.diminutive
    a(href='https://www.scxn.io/Solution').w1.h100.textAlignCenter.p-0.m-0.tW.flex.flexAlignCenter.flexJustifyCenter
      span.f2.diminutive An 
        b.diminutive.f5 SC
            i(style='font-size: calc(1em + .6em);').f2 x
            | N 
        | Web Solution