extends layoutMessage
block content
    cover.cover.sH.sC
        a#cover.dropAnchor
        section.container-fluid
            article.pT6.pB6.row
                margin.d-none.d-sm-block.col-md-1
                menu.sC.col-sm-5.redLined
                    h1.w1.textAlignCenter Oh, dear!
                    h2.exJr.b.diminutive.caps.b.lH1.w1.textAlignCenter=sub 
                    p.w3.pT1.initial Something went wrong.  We were not able to receive your comment.  Usually this is due to a high number of comments being left at once, 
                        i or 
                        | there may be a technical interruption.
                    p.w3 Please wait a few moments, refresh the browser and try again.
                    small.w1.flex.flexCol.flexAlignStart.pt-5
                        a(href='/').tB.w1 ← Return home
                logo.d-none.d-sm-none.d-md-flex.sC.p-0.p-lg-4.p-xl-5.col-sm-5
                    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/syMwuceoqXsZdHnyVyKVQFds').headerLogo
                margin.col-md-1