@media (orientation: portrait){
.galleryItem figure{
	width: 33.27%;
	height: 12.5vh;
  }
}
@media (max-width: 575px){
    .feature figure:nth-last-of-type(2) {
        float: none;width: 100%;
    }
    .feature figure:nth-last-of-type(2) img{
        width: 100%;
    }
    p.beam.f2.sM.lH3.mt-5.p-4.ps-5{
        font-size: 17pt;
        line-height: 1.234em;
    }
    .flexJustifyRight.indexCase{
        justify-content: left;
    }
    .redLined{
        border-right: none;
    }
    .bullNosed,
    .bullNosedTop,
    .bullNosedBottom,
    .bullNosedTopLeft,
    .bullNosedTopRight,
    .bullNosedBottomRight,
    .bullNosedBottomLeft{border-radius: 0px;}
    ul.sexy>*{
        text-align: center;
    }
    li.bijou{
        display: none;
    }
    logo.bijou{
        display: block;
    }
    .bordered.flake{
        border: none;
    }
}
@media (max-width: 767px){
    .textAlignLeft.smallCenter{text-align: center;}
    .engagingPage #accordion  li item.flake,
    .responsivePage #accordion  li item.flake,
    .dynamicPage #accordion  li item.flake,
    .semanticPage #accordion  li item.flake,
    .searchablePage #accordion  li item.flake,
    .shareablePage #accordion  li item.flake,
    .easyPage #accordion  li item.flake,
    .solutionsPage #accordion  li item.flake{
        display: none;
    }
    .engagingPage #accordion  li a .ingredientCase,
    .responsivePage #accordion  li a .ingredientCase,
    .dynamicPage #accordion  li a .ingredientCase,
    .semanticPage #accordion  li a .ingredientCase,
    .searchablePage #accordion  li a .ingredientCase,
    .shareablePage #accordion  li a .ingredientCase,
    .easyPage #accordion  li a .ingredientCase,
    .solutionsPage #accordion  li a .ingredientCase{
	display: none;
}
.otherArticlesMenu{
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 99%;
    max-width: 99vw;
    box-shadow: inset 0px 2px 11px rgba(0, 0, 0, 0.139);
    }
    .bullNosed.adapt{
        border-radius: 0px;
    }
    #news > article > aside > h2{
        font-size: 27pt;
    }
    .shareIcons.birdShares{
        width:45px;height: 45px;
    }
    .mega{
        width: 100%;
        position: relative;
        border-radius: 4.5px;
    }
    .mega{
        top: 147%;
        left: 0vw;
    }
    .col3{
        column-count: 1;
    }
}
@media (max-height: 500px){
    ol#accordion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li.sC.w1.py-2{
        padding-right: 1.8em;
    }
    .flexJustifyRight.indexCase{
        justify-content: left;
    }
    .directions{
        float: left;
    }
    .horBreak{padding-top: 0px;margin-top: 0px;
        flex-direction: row;
    }
    wrapper.compositor.col-sm-12.px-3.px-md-0{
        max-width: 50%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    article#galleryBG.w1.bullNosedTop{
    min-height: 70vh;
    }
    item.m-0.px-3.px-md-0.pb-1.pt-1.col-sm-12.mx-0.flex.flexAlignEnd.flexJustifyStart.sSBB.bullNosedBottom{
        max-width:50%;	
    }
    div.galleryItem{
        height: 100%;
        min-height: 50vh;
    }
    .galleryMoreInfo{
        min-height: 70vh;
    }
    .galleryMoreInfo p{
        margin: 1em;
        font-size: 9pt;
    }
    div.col-md-6.h100.hSWB{
        width: 100%;
    }
}
@media (min-width:768px){
    .sWB.sO{background-color: transparent;}
    .slideDown1{transition:transform .123s;}
    #slideDown2{transform: translateY(120px)}
    #slideUp{transform: translateY(-120px)}
    #crowdFunding{font-size: 27pt;}
    .callcenter.pB6{padding: 0px !important;}
}

@media (min-width:900px){
    #crowdFunding{
        font-size: 55pt;}
} 
/*Super small*/
@media (max-width:290px){
    .solutionsPage ol#accordion.list-group.sC.sexy{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        box-shadow: inset 0px 2px 11px rgba(0, 0, 0, 0.139);
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
  /*News stinger*/
    body > main > section > article > div.landingStinger.pb-5.mt-0.ps-5.ms-5.textAlignRight.f2.flex.flexAlignCenter.flexJustifyEnd.dwarf.flexWrap{
        margin: .123em auto !important;
        padding: 0 !important;
    }  
    /*News abstract*/
    body > main > section > article > abstract{
        margin-top: .6em;
    }
    /*Landing stinger*/
    body > main > section > article > div.landingStinger.py-3.mt-0.ps-5.ms-5.textAlignRight.f2.flex.flexAlignCenter.dwarf,
    body > main > section > article > div.landingStinger.py-3.mt-0.ps-5.ms-5.textAlignRight.f2.flex.flexAlignStart.dwarf{
        text-align: left;
        margin: 1em auto !important;
        padding: 0 !important;
    }
    /*Landing Ingredient number marker*/
    body > main > section > article > div.landingStinger.py-3.mt-0.ps-5.ms-5.textAlignRight.f2.flex.flexAlignCenter.dwarf > span,
    body > main > section > article > div.landingStinger.py-3.mt-0.ps-5.ms-5.textAlignRight.f2.flex.flexAlignStart.dwarf > span{
        display: none;
    }
    menu.col-2.col-md-3{
        width: 100vw;
    }
    abstract.mb-4.f2.beam.pt-3.ps-4{
        border: 0px !important;
        margin: 0px 0px 0px 0px  !important;
        padding: 0px 0px 0px 0px !important;
    }
    body > main > section > article > abstract > p {
        margin-top: .72em !important;
    }
    #undefined > p.beam.f2.sM.lH3.mt-5.p-4.ps-5{
        line-height: 1.1em;
        font-size: 17pt;
        padding: 9px !important;
    }
}