/*@media (orientation: portrait){}*/
@media (max-width: 575px){
    p,h1,h2,h3,h4,h5,h6,ul{
        padding: 0 var(--s1);
    }
    .redLined{
        border-right: none;
    }
    #address{padding-top: var(--s2);}
}
@media (max-width: 767px){
    .slideUnder>*{
        position: relative;
        z-index: 1;
        filter: opacity(27%);
    }
    .slideOver>*{
        position: relative;
        z-index: 2;
    }
    .bullNosed.adapt{
        border-radius: 0px;
    }
}