@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Pathway+Gothic+One&display=swap');
:root{
/*colors*/
	--cF: #1f1928;				--cB: #fffbed;
	--cA: #11a2a9;				--cH: rgb(178, 2, 69);
	--c1: #575349;  			--c2: #11a2a9;
	--c3: rgb(99, 66, 143);	--c4: rgb(228, 19, 148);
	--c5: #de8297;				--c6: rgba(255, 238, 0, 0.341);
/*fonts*/
	--f1: normal normal lighter 17pt/1em 'Times New Roman', Times, serif;
	--f2: italic normal lighter 17pt/1em 'Pathway Gothic One', sans-serif;
	--f3: normal normal lighter 55pt/1em 'Times New Roman', Times, serif;
	--f4: normal normal lighter 48pt/1em 'Pathway Gothic One', sans-serif;
	--f5: normal normal 900 33pt/1em 'Montserrat', sans-serif;
	--f6: normal normal lighter 27pt/1em 'Times New Roman', Times, serif;
/*backgrounds*/
	--bB: url(https://images.unsplash.com/photo-1619537903549-0981d6bca911?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
	--bG: linear-gradient(30deg,var(--c2), var(--c3),rgba(187, 255, 254, 0.674),var(--c4), rgb(150, 167, 221));
	--b: url(https://images.unsplash.com/photo-1565182396194-7e2a07c32c2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80);
	--b1: url(https://images.unsplash.com/photo-1460131548611-36aac9b6a901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
	--b2: url(https://images.unsplash.com/photo-1503516459261-40c66117780a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
	--b3: url(https://images.unsplash.com/photo-1510146758428-e5e4b17b8b6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
/*padding & margin sized*/
	--s1: 17px;		--s2: 27px;		--s3: 45px;
	--s4: 72px;		--s5: 90px;		--s6: 121px;
}
/*animations*/	
@keyframes veil {
	0% {background-size:100%;}
	50% {background-size:333%;}
	100%{background-size:100%;}
}
@keyframes alive {
	0% {background-size:100%;}
	50% {background-size:150%;}
	100%{background-size:100%;}
}
@keyframes dissolveIn {
	0% {background-color:white;}
	50% {background-color:var(--c6);}
	100%{background-color:black;}
}
@keyframes revolve {
	0% {transform: rotate(-90deg);}
	100%{transform: rotate(270deg);}
}
/*document*/
*{
  margin: 0 auto;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body{
	background-color: #11a2a9;
	background-image: var(--bB);
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	color: var(--cF);
	font: var(--f1);
	background-blend-mode: lighten;
  }
/*SCXN*/
master,
cover,
wrapper,
case,
item,
slug,
stinger
abstrat,
statement,
margin,
logo,
gutter{
	display: block;
	}
cover{background-color: white;}
.reflection{ background-color: var(--c6); padding: var(--s2);}
.outlined{border: 2px solid var(--c3); padding: var(--s1) var(--s2);}
.beam{border-left:var(--s2) solid var(--c4); padding: 2px 0px 2px var(--s1);}
.monolith{border-right:var(--s2) solid var(--c4); padding: 2px var(--s1) 2px 0px;}
.bullNosed{border-radius: 4.5px;}
.fB{/*fullBleed*/
	object-fit: cover;
	object-position: 50% 50%;
	height: 100%;
	width: 100%;
}
.poster{
	background-image: var(--b);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.poster1{
	background-image: var(--b1);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.poster2{
	background-image: var(--b2);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.poster3{
	background-image: var(--b3);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.bgVeil{
	animation: veil 22s infinite;
	background-image: linear-gradient(27deg, white,rgba(255, 255, 255, 0.787), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.883), white);
	background-attachment: fixed;
}
.flex{display: flex;}
.flexCol{ flex-direction: column;}
.flexRow{ flex-direction: row;}
.flexJustifyCenter{ justify-content: center;}
.flexAlignCenter{ align-items: center;}
.flexAlignStart{align-items: flex-start;}
.flexAlignEnd{align-items: flex-end;}
.flexJustifyStart{justify-content: flex-start;}
.flexJustifyEnd{justify-content: flex-end;}
.compositor{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
.compositor>*{grid-column: 1;grid-row: 1;}
.washed{filter: opacity(27%);}
.sC{/*superCenterer*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;}
.textAlignCenter,
.textAlignRight,
.textAlignLeft{width: 100%;}
.textAlignCenter{text-align: center;}
.textAlignRight{text-align: right;}
.textAlignLeft{text-align: left;}
.col1{ column-count: 1;}	.col2{ column-count: 2;}
.col3{ column-count: 3;}	.col4{ column-count: 4;}
ul.nav{list-style: none;}
.redLined{border-right: 1px solid var(--c1);}
.dropAnchor{/*drop anchor to center of viewport*/
	position: absolute;
	transform: translateY(-50vh);
}
/*text flip white OR black*/
.tW{color: white;}	.tB{color: black;}
/*simpleShadow*/
.sS{text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.492);}
.mS{text-shadow: .5px 1px .5px rgba(0, 0, 0, 0.903);}
.dS{text-shadow: 1.5px 1px 1.5px rgba(0, 0, 0, 0.878);}
/*italicize & bold*/
.i{font-style: italic;}
.b{font-weight:900;}
/*sizing*/
.w1{width: 100%;}	.w2{width: 99%;}
.w3{width: 81%;}	.w4{width: 72%;}
.w5{width: 51%;}	.w6{width: 48%;}
.mH{/*minimumHight*/
	min-height: 77vh;
}
.sHjr{/*superHeight Jr*/
	min-height: 100vh;
}
.sH{/*superHeight*/
	height: 100%;
	min-height: 100vh;
}
/*spacing*/
/*padding*/
.p1{padding: var(--s1);}			.p2{padding: var(--s2);}
.p3{padding: var(--s3);}			.p4{padding: var(--s4);}
.p5{padding: var(--s5);}			.p6{padding: var(--s6);}
/*padding top*/
.pT1{padding-top: var(--s1);}		.pT2{padding-top: var(--s2);}
.pT3{padding-top: var(--s3);}		.pT4{padding-top: var(--s4);}
.pT5{padding-top: var(--s5);}		.pT6{padding-top: var(--s6);}
/*padding bottom*/
.pB1{padding-bottom: var(--s1);}	.pB2{padding-bottom: var(--s2);}
.pB3{padding-bottom: var(--s3);}	.pB4{padding-bottom: var(--s4);}
.pB5{padding-bottom: var(--s5);}	.pB6{padding-bottom: var(--s6);}
/*padding Left*/
.pL1{padding-left: var(--s1);}		.pL2{padding-left: var(--s2);}
.pL3{padding-left: var(--s3);}		.pL4{padding-left: var(--s4);}
.pL5{padding-left: var(--s5);}		.pL6{padding-left: var(--s6);}
/*padding Right*/
.pR1{padding-right: var(--s1);}		.pR2{padding-right: var(--s2);}
.pR3{padding-right: var(--s3);}		.pR4{padding-right: var(--s4);}
.pR5{padding-right: var(--s5);}		.pR6{padding-right: var(--s6);}
/*margin*/
.m1{margin: var(--s1);}				.m2{margin: var(--s2);}
.m3{margin: var(--s3);}				.m4{margin: var(--s4);}
.m5{margin: var(--s5);}				.m6{margin: var(--s6);}
/*margin left*/
.mL1{margin-left: var(--s1);}		.mL2{margin-left: var(--s2);}
.mL3{margin-left: var(--s3);}		.mL4{margin-left: var(--s4);}
.mL5{margin-left: var(--s5);}		.mL6{margin-left: var(--s6);}
/*margin right*/
.mR1{margin-right: var(--s1);}		.mR2{margin-right: var(--s2);}
.mR3{margin-right: var(--s3);}		.mR4{margin-right: var(--s4);}
.mR5{margin-right: var(--s5);}		.mR6{margin-right: var(--s6);}

.hL{background-color: rgba(255, 0, 255, 0.588);}/*Highlighter*/
.hL1{background-color: rgba(126, 252, 0, 0.588);}/*Highlighter*/
.hL2{background-color: rgba(0, 255, 255, 0.588);}/*Highlighter*/
.hL3{background-color: red;}/*Highlighter*/
.strictX{overflow-x: hidden;}
.strictY{overflow-y: hidden;}
.bgW{background-color:white;}
.bg1{background-color: var(--c6);}
.bg2{background-color: var(--c5);}
.ex{letter-spacing: 2vw;}
.exJr{letter-spacing:1vw;}
.diminutive{font-size: 9.99pt;}
.sM{font-size: 17pt;}/*standardMini*/
.bM{font-size: 39pt;}/*bigMini*/
.caps{text-transform: uppercase;}
.initial::first-letter{
	float: left;
	font-size: 22pt;
	font-weight: 900;
}
.initialR::first-letter{
	font-size: 22pt;
	font-weight: 900;
}
.lH1{line-height: .81em;}	.lH2{line-height: 1em;}
.lH3{line-height: 1.3em;}	.lH4{line-height: 1.6em;}
.lH5{line-height: 1.71em;}	.lH6{line-height: 2em;}

/*inline*/
a{
	color: var(--cA);
	text-decoration: none;
}
a:hover{
	color: var(--c3);
	text-decoration: underline;
	text-decoration-color: var(--c2);
}
a:active,
a:focus{color: var(--c3)}
a:visited{color: var(--c4)}
label{font: var(--f4); font-size: 17pt; padding-top:var(--s1);}
button{font: var(--f4); font-size: 27pt;}
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }

/*blocks*/
h6{
	font:var(--f4); 
	font-size: 21pt;
}
h5{font:var(--f6);}
h4{font:var(--f5);color: var(--c3);}
h3{font:var(--f5);}
h2{font:var(--f4);}
h1{font:var(--f3);}
small{font-size: 13pt;}

/*Style*/
.selfies{width: 60%;}
header{
	animation: dissolveIn 3s ease-in-out;
	background-blend-mode: lighten;
	box-shadow: -10px -20px 30px rgba(0, 0, 0, 0.967);
	position: relative;
	z-index: 20;
}
a.enter,a.enter:visited{color: white;}
footer{
	animation: alive 126s infinite;
	background-color: var(--c2);
	background-blend-mode: lighten;
	border-top: 2px solid var(--c2);
}
.specialBorderBottom{
	border-bottom: 6px solid #11a1a92e;
}
.shareTag,
.socials,
.shareIcons{
	width: 54px; 
	height: 54px;
	max-width: 54px; 
	max-height: 54px;
	position: relative;
}
.socials,
.shareIcons{
	z-index: 1;
}
.t600{font-weight: 600;}
.logoify{
 font: var(--f5);
 letter-spacing:-.1em;
 text-transform: uppercase;
}
.logoify.special{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	letter-spacing:-.05em;
	font-weight: 900;
}
.logoifyS{
 font: var(--f5);
 font-size: 16.5pt;
 letter-spacing:-.1em;
 text-transform: uppercase;
 word-spacing: .21em;
 color: var(--cF);
}
.logoifyS.special{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	letter-spacing:-.05em;
	font-weight: 900;
}
.titleSize{
	font-size:90pt;
}
.titleSizePlus{
	font-size:95pt;
}
.btn.submit-btn{font: var(--f4);font-size: 27pt;}
 figure{/*Tumblr wraps every img in a figure*/
	object-fit: cover;
	object-position: 50% 50%;
	height: 100%;
	width: 100%
}
.stinger p::first-letter{
	float: left;
	font-size: 22pt;
	font-weight: 900;
}
.newsSection p:nth-of-type(n+2){display: none;}
.sans{font: var(--f5); font-size: 17px;}
.pumped{font-size: 55pt;}
h3 a,h6 a{color: var(--cF);}
h1 a{color: var(--cA);}
.blogOnly{display: none;}
.shareTag{
    display: inline-flex;
    font: var(--f4);
    font-size: 15pt;
    transform: rotate(-90deg)translateX(-2px)translateY(0px);
    transform-origin: 50% 50%;
	text-transform: uppercase;
	background-color: black;
	justify-content: center;
	align-items: center;
	color: black;
	transition: border-radius 2.2s 2s, transform .123s 0s, color 6s 0s,background-color .11s 5s;
	z-index: 1;
}
.shareTag:hover{text-decoration: none;}
.shareTag.spun{
	transition: border-radius .1s 0s, transform .123s 0s, color .6s .25s,background-color .7s .2s;
	text-decoration: none;
	color: white;
	transform: rotate(270deg)translateX(0px)translateY(0px);
	border-radius: 50%;
	background-color: black;
}
.japanese{
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	font-weight: bolder;
	letter-spacing: .123em;
}
.japanese::first-letter{
	display: flex;
	background-color: var(--cH);
	padding: 17px;
	font-size: 24pt;
	margin-bottom: 22px;
}